<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 feature--alone-container">
        <a href="{{ path(path) }}" class="feature--alone-link">
        <div class="row">
            <div class="col-12">
                <h3 class="feature--alone-title">{{ titre }}</h3>
            </div>
            <div class="col-12 feature--alone-description">
                {{ description }}
            </div>
        </div>
        </a>
        <div class="row">
            <div class="col-12 feature--alone-footer">
                <a href="{{ path(path) }}" class="feature--alone-link-to-more">
                    {{ 'global.action.example_plurialized'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
